.lista-sin{
    list-style-type: none;
}

.lista-circulos{
    list-style-type: circle;
}

.lista-cuadrados{
    list-style-type: square;
}

.lista_romanos{
    list-style-type: lower-roman;
}

.lista-griego{
    list-style-type: lower-greek;
}