a{
    color: red;
    text-decoration: none;
}

a:visited{
    color: green;
}

a:hover{
    color: white;
    background: pink;
    text-decoration: underline;
}

a:focus{
    color: #99F;
    text-decoration: dotted;
}

a:active{
    color: #555555;
    background-color: #FFF;
    text-decoration: dotted;
}