#fila1{

color: teal;
}

#fila2{
    color: red;
}

#fila3{
    color: fuchsia;
}

#fila4{
    color: yellow;
}

#fila5{
    color: blue;
}

#fila6{
    color: yellowgreen;
}

#fila7{
    color: blueviolet;
}

#fila8{
    color: pink;
}

/*segunda columna*/

td+td{
    background-color: palevioletred;
}

td+td+td{
    background-color: rebeccapurple;
}